# created doing the following:
#   conda activate streamlit
#   pip freeze > requirements.txt
altair
astropy
fonttools==4.25.0
h5py 
Jinja2
kcwitools==0.1.dev0
pandas==1.5.3
Pillow==9.4.0
PyQt5-sip==12.11.0
QtPy==2.3.1
scipy==1.10.1
streamlit
streamlit-drawable-canvas==0.9.2
streamlit-image-coordinates==0.1.3
